<div id="menu">
  
  <div {{action "showMenu"}} > Menú </div>

  {{#if isMenuVisible}}
    <ul>
      <li>
        <h1>Anomaly Visual Fest</h1>
      </li>
      <li> Conferencias </li>
      <li> Talleres </li>
      <li> Calendario </li>
      <li> Boletos </li>
      <li> Sede </li>
      <li> Contacto </li>
    </ul>

  {{/if}}
  
</div>

