<footer>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="info">
        
      <h2> infórmate </h2>
        <div class="ask"> 
        <div class="inline"> ¿Tiendes alguna duda?  </div>
          <span>
            Envíanos un mail
          </span> 
          <div class="inline noBreak"> o escribe a: </div>
          <div class="inline bold"> Laura Monroy • ixtapa@a.com.mx • </div>
          <div class="inline">OFF. 55-5008-8304</div>
          <div class="inline">  <span class="hidden" > • </span>  Whatsapp: 777-3280191 </div>

        </div>
        <div class="button2FooterBg">
          {{mailtolink 'Contáctanos' 'ixtapa@a.com.mx'}}
          
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 credits">
      <div class="powered">
        Powered by
      </div> 
        <img src="assets/img/logos2.png">
    </div>
  </div>
</footer>
