@import "variables"

@font-face
    font-family 'AVF'
    src url(icomoon-font-path + '/AVF.eot?kil0qm')
    src url(icomoon-font-path + '/AVF.eot?kil0qm#iefix') format('embedded-opentype'), url(icomoon-font-path + '/AVF.ttf?kil0qm') format('truetype'), url(icomoon-font-path + '/AVF.woff?kil0qm') format('woff'), url(icomoon-font-path + '/AVF.svg?kil0qm#AVF') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    font-family 'AVF' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-conferencia
    &:before
        content icon-conferencia
.icon-facebook
    &:before
        content icon-facebook
.icon-instagram
    &:before
        content icon-instagram
.icon-logo1
    &:before
        content icon-logo1
.icon-logo2
    &:before
        content icon-logo2
.icon-menu
    &:before
        content icon-menu
.icon-pointer
    &:before
        content icon-pointer
.icon-twitter
    &:before
        content icon-twitter
.icon-x
    &:before
        content icon-x

