icomoon-font-path ?= "fonts"

icon-conferencia = "\e908"
icon-facebook = "\e900"
icon-instagram = "\e901"
icon-logo1 = "\e902"
icon-logo2 = "\e903"
icon-menu = "\e904"
icon-pointer = "\e905"
icon-twitter = "\e906"
icon-x = "\e907"

