#menu
  position absolute
  z-index 1000
  text-align center
  width 100%
  .menuHandler
    cursor pointer
    position fixed
    background url('img/menuBg.png')
    right 13%
    width 60px
    top 50px
    height 67px
  .getTickets
    cursor pointer
    background url('img/getTickectsBg.jpg')
    background-size auto 100%
    background-position center
    background-repeat no-repeat
    right 20%
    position fixed
    width 200px
    height 117px
    font-family 'bebas'
    font-size 21px
    .text
      position relative
      top 3.75em
      text-align left
      width 76%
      margin 0 auto

    &:hover
      background url('img/top_solicitar_boletos.gif'), url('img/getTickectsBg.jpg')
      background-size 95%, auto 100%
      background-position center 1px, center
      background-repeat no-repeat, no-repeat
  .openMenu
    position relative
    top .5em
    display block
    margin 0 auto
  .closeMenu
    cursor pointer
    position fixed
    height 67px
    width 60px
    right 13%
    top 66px
  .selection
    background rgba($violet)
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    ul
      margin 0
      padding 0
      cursor auto
      li
        font-family 'bebas'
        margin 1em
        text-transform uppercase
        list-style none
        &:not(:first-child)
          font-size 28px
        a, a:visited
          text-decoration none
          color inherit
          &:hover
            color $yellow

  .foot
    padding-top 2em
    p
      font-size 14px
      font-family 'InputMonoCompressed-Regular'
      color $yellow
    .pleca
      background $purple
      position absolute
      bottom 0
      left 0
      height 10px
      width 100%
  .selection-enter
    opacity 0.01
    &.selection-enter-active
      opacity 1
      transition opacity 0.25s cubic-bezier(0.68, -0.55, 0.27, 1.55)

  .selection-leave
    opacity 1
    &.selection-leave-active
      opacity 0.01
      transition opacity .5s ease-in


@media screen and (max-width: 1000px)
  #menu
    .menuHandler
      right 0
      top 0
      width 43px
      height 50px
      [class^="icon-"], [class*=" icon-"]
        font-size 1.6em
    .closeMenu
      top 9px
      right -6px
    .getTickets
      background url('img/menuBg-min.jpg')
      background-size auto 100%
      left 0
      width 100%
      height 50px
      &:hover
        background-size 100% auto
      .text
        top 0
        font-size 45px
        span
          display inline

@media screen and (max-width: 568px)
  #menu
    .getTickets
      .text
        top 10px
        font-size 30px
        width 100%
        padding-left .1em
    [class^="icon-"], [class*=" icon-"]
      font-size 1.8em
    .selection
      ul
        li
          margin .5em
      .foot
        padding-top 0
