footer
  background url('img/footerNg.jpg')
  background-size 100% 100%
  padding 3em 0
  .pure-g
    max-width 1180px
    margin 0 auto
  .info
    width 50%
    margin 0 auto
  h2
    font-family 'bebas'
    font-size 54px
    margin 0
  .ask
    font-size 14px
    font-family 'InputMonoCompressed-Regular'
    span 
      font-family 'InputMonoCompressed-Bold'
  .button2FooterBg
    background url('img/button2FooterBg.png')
    font-size 22px
    box-sizing border-box
    font-family 'bebas'
    display inline-block
    padding .6em 2em 
    margin 1em 0 0 3%
  .credits
    background url('img/divisora.png')
    background-repeat no-repeat
    background-size 1px 70%
    background-position left center
    padding 3.6em 0 3.6em 6em
    box-sizing border-box
    .powered
      color $yellow
      font-family 'InputMonoCompressed-Regular'
    
@media screen and (max-width: 767px) 
  footer
    .info
      width 100%
      text-align center
    .button2FooterBg
      margin-left 0
    .credits
      background none
      text-align center
      padding-left 0
      .powered
        margin-right 1em
        position relative
        top -30px
        display inline-block
        vertical-align middle