#menu
  position absolute
  z-index 1000
  text-align center
  width 100%
  .menuHandler
    cursor pointer
    position fixed
    background url('img/menuBg.png')
    right 13%
    width 60px
    top 50px
    height 67px
  .getTickets
    cursor pointer
    bgPerson('img/getTickectsBg.png')
    right 20%
    position fixed
    width 200px
    height 160px
    font-family 'bebas'
    font-size 34px
    .text
      position relative 
      top 2em
      text-align left
      width 76%
      margin 0 auto
      span
        display block
  .openMenu
    position relative
    top .5em
    display block 
    margin 0 auto
  .closeMenu
    cursor pointer
    position fixed
    height 67px
    width 60px
    right 13%
    top 66px
  .selection
    background rgba($violet)
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    ul
      margin 0
      padding 0
      cursor auto
      li
        font-family 'bebas'
        margin 1em
        text-transform uppercase
        list-style none
        &:not(:first-child)
          font-size 28px
        a, a:visited
          text-decoration none
          color inherit
          &:hover
            color $yellow
          
  .foot
    padding-top 2em
    p
      font-size 14px
      font-family 'InputMonoCompressed-Regular'
      color $yellow
    .pleca
      background $purple
      position absolute
      bottom 0 
      left 0
      height 10px
      width 100%
  .selection-enter
    opacity 0.01
    &.selection-enter-active
      opacity 1
      transition opacity .5s ease-in

  .selection-leave
    opacity 1
    &.selection-leave-active
      opacity 0.01
      transition opacity .5s ease-in
      

@media screen and (max-width: 1000px)
  #menu
    .menuHandler
      right 0
      top 0
      width 43px
      height 50px
      [class^="icon-"], [class*=" icon-"]
        font-size 1.6em
    .closeMenu
      top 9px
      right -6px
    .getTickets
      background url('img/menuBg-min.jpg')
      background-size auto 100%
      left 0
      width 100%
      height 50px
      .text
        top .2em
        span
          display inline
          
@media screen and (max-width: 568px)
  #menu
    .getTickets
      .text
        width 100%
        padding-left .1em
    [class^="icon-"], [class*=" icon-"]
      font-size 1.8em
    .selection
      ul
        li
          margin .5em
      .foot
        padding-top 0

