#paginate
  margin 3em auto
  padding-top 11em
  .pointer
    font-family 'bebas'
    font-size 20px
    &.Prev  
      text-align left
      img
        margin-right 1em
        transform rotateY(180deg)
    &.Post
      background url('img/divisora4.png')
      background-repeat no-repeat
      background-size 1px 100%
      background-position left center
      text-align right
      img
        margin-left 1em
    span
      position relative
      top -3px