#social-links
  margin 2em 0
  & .ember-view:first-child
    a
      margin-right .5em
      text-decoration underline
  .ember-view
    display inline
  a
    text-transform uppercase
    font-family 'bebas'
    font-size 20px
  [class^="icon-"], [class*=" icon-"]
    font-size 14px
    margin 0 1em
    color #5E958A
    &:hover
      color white