#social-share
  height 100%
  display inline-block
  vertical-align center
  width 40%
  & .ember-view
    .icon
      display inline-block
      vertical-align top
      margin 15px 4px
      position relative
    .fb-share-button
      opacity 0
      margin 0
      position absolute
      top 0
      left 0
    .icon-conferencia
      display none
      color $purpleStrong
    [class^="icon-"], [class*=" icon-"]
      opacity .5
      font-size 15px
      margin 0 5px
      &:hover
        cursor pointer
        opacity 1
