#calendar
  background url('img/backgroundTickets.png')
  background-size cover
  background-position center top
  
 .calendar
   margin-bottom 2em
   .day
     padding 0 1em
     box-sizing border-box
   .actividad
     font-family 'InputMonoCompressed-Regular'
     font-size 14px
     display flex
     align-items center
     padding 1em .5em
     .nombre
       flex 2
     .hora
       text-align right
       flex 4
    .registro
      setCalendar(30%, $pinkCalendar)
    .dead
      setCalendar(5%, $grayCalendar)
      color $grayCalendar
    .inguracion
      setCalendar(2.5%, $oragneCalendar)
    .mircea
      setCalendar(8%, $purpleCalendar)
    .knapp
      setCalendar(8%, $purpleCalendarStrong)
    .ux
      setCalendar(20%, $blueCalendar)
      .nombre
        flex 5 
        div
          color $yellow
    .comida
      setCalendar(12.5%, $grayCalendar)
    .pavel
      setCalendar(8%, $purpleCalendarStrong)
    .jess
      setCalendar(8%, $purpleCalendar)
    .YY
      setCalendar(8%, $purpleCalendarStrong)
    .Solana
      setCalendar(8%, $purpleCalendar)
    .clausura
      setCalendar(2.5%, $oragneCalendar)
      .hora
        padding-right 60px
      
    
@media screen and (max-width: 767px) 
  #calendar
    .day
      padding 0
    .bgH2Min
      width 70%
      margin 1.5em auto
      

@media screen and (max-width: 568px) 
  #calendar
    .bgH2Min
      width 100%