#conferences
  background url('img/backgroundConferences.jpg')
  background-size cover
  .name
    bgPerson('img/bgConferencias.png')
    font-family 'bebas'
    font-size 60px
  .from
    font-family 'InputMonoCompressed-Regular'
    font-size 13px
    text-transform uppercase
    .location
      &:after
        content "///"

  .profile
    position relative
    .imContainer
      background-size auto 100% !important
      background-repeat no-repeat !important
      width 80%
    img
      opacity 0
      width 100%
    .details
      position absolute
      top 0
      right 2.5%
      display flex
      flex-direction column
      justify-content center
      height 100%
      width 20%
      .day, .hour
        margin 5px 0
        padding 20px 0 5px 5px
        box-sizing border-box
        font-family 'bebas'
        font-size 44px
        span
          font-family 'InputMonoCompressed-Regular'
          font-size 15px
          text-transform uppercase
          display block
          line-height .7
      .day
        bgPersonName('img/dayBg.png')
        background-position left top
      .hour
        bgPersonName('img/hourBg.png')
        background-position left top
      .language
        margin 5px 0
        font-family 'InputMonoCompressed-Regular'
        bgPersonName('img/languageBg.png')
        background-position left top
        font-size 15px
        height 30px
        padding 0px 0 0 5px
        color $yellow
        line-height 33px
        text-transform uppercase
        span
          display inline
          line-height 1
          color white
      .social
        margin 5px 0
        bgPersonName('img/shareBg.png')
        background-position left top
        padding-top 5px
        height 46px
        font-size 0
        display flex
        &>div
          display inline-block
          vertical-align bottom
        .text
          position relative
          top 9px
          width 40%
          font-family 'InputMonoCompressed-Regular'
          font-size 10px
          padding 0
          margin 0
          padding-left 8px





  h2
    bgH2Min('img/bgAcercaDe.png')
    font-family 'bebas'
    font-size 30px

    box-sizing border-box
    padding 10px 0px 10px 30px

  .biography
    margin-top 4em
    h3
      font-family 'InputMonoCompressed-Light'
      font-weight 100
      margin 1.5em 0
      font-size 25px
    p
      font-family 'InputMonoCompressed-Regular'
      font-size 14px

    .social, p, h3
      padding-left 30px
      box-sizing border-box
    .social
      margin 2em 0
      a
        text-transform uppercase
        font-family 'bebas'
        font-size 20px
        &:first-child
          margin-right .5em
          text-decoration underline
      [class^="icon-"], [class*=" icon-"]
        font-size 14px
        margin 0 1em
        color #5E958A
        &:hover
          color white
  .workTitle
    margin-top 4em
  .work
    .imContainer
      background-size 100% !important
      img
        opacity 0
        width 100%



@media screen and (max-width:  1000px)
  #conferences
    .profile
      .details
        .day, .hour
          font-size 32px

@media screen and (max-width: 767px)
  #conferences
    .biography
      .social, p, h3
        padding-left 0
    .profile
      .imContainer
        background-size 120% !important
        background-position center !important
        width 100%
      .details
        position relative
        top -20px
        right 0
        width 100%
        display block
        text-align center
        .day, .hour, .language, .social
          display inline-block
          vertical-align top
          width 33%
          text-align left
        .social
          .text
            width 20%
            top -4px
    .work
      .imContainer
        background-size 120% !important
        background-position center !important


@media screen and (max-width: 568px)
  #conferences
    .profile
      .details
        .day, .hour, .language, .social
          width 45%
        .social
          height 30px
          padding-top 0
          .text
            display none
          .icon-conferencia
            display inline
