#tickets
  background url('img/backgroundTickets.png')
  background-size cover
  background-position center top
  
  .groups 
    h3, h4
      color $yellow
      font-family 'bebas'
      font-size 18px
    .prices
      div
        font-family 'InputMonoCompressed-Regular'
        font-size 16px
        line-height 2
    h4
      font-size 16px
      margin-bottom 0
      margin-top 3em
    ul
      font-family 'InputMonoCompressed-Regular'
      padding 0
      margin-top 0
      font-size .8em
      width 80%
      margin-bottom 2em
      li
        list-style none
  .divisor
    background url('img/divisora2.png')
    background-repeat no-repeat
    background-position left center
    background-size 3px 100%
  
  .center
    .redButton
      margin 5em auto
      line-height 1
      padding-top 10px
  .talleres
    margin-bottom 3em
    .name
      padding-left 30px
      font-family 'InputMonoCompressed-Bold'
      color $yellow
      font-size 20px
    .detail
      padding-left 30px
      font-family 'InputMonoCompressed-Regular'
      font-size 18px
      
@media screen and (max-width: 767px) 
  #tickets
    .divisor
      background url('img/divisora3.png')
      background-size 100% 3px
      background-position center top
      background-repeat no-repeat
    .center
      .redButton
        margin 1em auto
      
      
      

      
