<section id="location" >
  <section id="conferences" >
    <article class="first">
      <div class="pure-g">
        <div class="pure-u-1-24 pure-u-md-2-24"></div>
        <div class="pure-u-22-24 pure-u-md-20-24">
          <span class="sede"> sede </span>
          <div class="name">
            HOTEL KRYSTAL
          </div>
          <div class="from">
            IXTAPA - ZIHUATANEJO, GUERRERO
          </div>
        </div>
        <div class="pure-u-1-24 pure-u-md-2-24"></div>

      </div>


      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-24"></div>
        <div class="pure-u-1 pure-u-md-20-24 profile">
          <img src="assets/img/sede_gif.gif">

        </div>
        <div class="pure-u-1 pure-u-md-2-24"></div>
      </div>

    </article>

    <article>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-24"></div>
        <div class="pure-u-1-24 pure-u-md-1-24"></div>
        <div class="pure-u-22-24 pure-u-md-11-24">
          <h2> IXTAPA - ZIHUATANEJO</h2>
          <div class="biography">

            <p>
            <span class="accent">
              Ixtapa-Zihuatanejo
            </span>
              es un destino turístico del noreste de Guerrero que mezcla lo paradisiaco de sus costas y la aventura de sus distintas atracciones. Sin duda un lugar exótico del Pacífico mexicano donde la fauna, gastronomía y el arte ofrecen una experiencia única e inolvidable.

            </p>
            <p>
              El
              <span class="accent">
                Hotel Krystal
              </span>
              es un resort ubicado en una de las mejores playas del país. Combina hermosos paisajes con arquitectura moderna, ofrece gastronomía de alto nivel, recreación en la reserva natural, diversión en el campo de golf y una espectacular piscina con cascada propia y tobogán acuático.
            </p>

            <p>
            <span class="accentBold">
              Dirección:
            </span>
              Boulevard Ixtapa S/N, Lote 4 y 4 A, 40880 Ixtapa, Guerrero
            </p>

            <div id="social-links">
              <a target="_blank" href="http://www.krystal-hotels.com.mx/ixtapa"> website </a>

              <a target="_blank" href="http://twitter.com/krystalhotels">
                <span class="icon-twitter"></span>
              </a>

              <a target="_blank" href="http://facebook.com/HotelKrystalIxtapa">
                <span class="icon-facebook"></span>
              </a>


            </div>
          </div>

        </div>

        <div class="pure-u-1-24 pure-u-md-9-24"></div>
        <div class="pure-u-1 pure-u-md-2-24"></div>
      </div>
    </article>

    {{footer-button type='Tickets'  }}

  </section>


</section>
